# Dependencies
node_modules/

# Build outputs
dist/
.astro/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
bun.lockb

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Astro cache
.astro/
